.collections-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  overflow-y: auto; 
  max-height: 510px; 
}

.collections-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.collections-table th,
.collections-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.collections-table th {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Added margin top for spacing */
}

.pagination button {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-right: 5px;
  background-color: #fff;
}

.pagination button:hover {
  background-color: #f2f2f2;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
