
.glass-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  margin-top: 250px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(25, 213, 53, 0.504);
  padding: 20px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 15px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #66d621;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #66c810;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

li {
  padding: 10px;
  border: 1px solid #45d31a;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

li:hover {
  background-color: #5fc61b;
}

li[selected="true"] {
  background-color: yellow;
}


.collection-box {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #20d510;
  border-radius: 10px;
  text-align: left;
}